body{
    background-color: darkolivegreen;
    color: white;
    font-family:"EB Garamond", serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}

button{
    background-color: darkcyan;
    color: antiquewhite;
    font-family:"EB Garamond", serif;
    
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width:60%;
}

img{
    max-width: 60%;
}